.mainWork {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #D16014;
  color: white;
    h5 {
      color: #1D1F1E;
      text-align: center;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: white;
    }
    p {
      background: linear-gradient(to right, #D16014 50%, #1D1F1E 50%);
      background-size: 200% 100%;
      background-position:left bottom;
      margin: 10px;
      transition: all ease 0.5s;
      &:hover {
        background-position:right bottom;
        cursor: pointer;
      }
    }
}

@media (min-width: 300px) and (max-width: 600px) {
  .mainWork {
    height: 80vh;
  }
}