.mainAbout {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
   p {
     margin: 10px;
     color: #1D1F1E;
   }
  h6 {
    text-align: center;
    color: #D16014;
  }
}

.more {
  margin-top: 30px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }
  span {
    font-size: 50px;
    color: #D16014;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .mainAbout {
    font-size: 20px;
    height: 70vh;
  }
}