* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif; }

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }
  .grid-container .row::before, .grid-container .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='col-'] {
    float: none;
    width: 100%;
    min-height: 1px;
    padding: 12px; }
    @media (min-width: 550px) {
      .grid-container [class*='col-'] {
        float: left; } }
  @media (min-width: 550px) {
    .grid-container .col-1 {
      width: 8.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-2 {
      width: 16.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-3 {
      width: 25%; } }
  @media (min-width: 550px) {
    .grid-container .col-4 {
      width: 33.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-5 {
      width: 41.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-6 {
      width: 50%; } }
  @media (min-width: 550px) {
    .grid-container .col-7 {
      width: 58.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-8 {
      width: 66.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-9 {
      width: 75%; } }
  @media (min-width: 550px) {
    .grid-container .col-10 {
      width: 83.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-11 {
      width: 91.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-12 {
      width: 100%; } }

.nav {
  position: fixed;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  background-color: #1D1F1E;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .nav li {
    display: inline-block;
    margin: 10px; }
    .nav li:hover {
      cursor: pointer; }
  .nav a {
    text-decoration: none;
    color: white;
    margin: 10px; }
    .nav a:active {
      text-decoration: #D16014 line-through; }

@keyframes strike {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.strike {
  position: relative; }

.strike:hover:after {
  content: ' ';
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #D16014;
  animation-name: strike;
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.main {
  font-size: 30px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1D1F1E; }
  .main p {
    color: #D16014;
    margin-bottom: 30px; }

.arrow {
  text-align: center;
  margin-top: 50px;
  font-size: 40px; }
  .arrow:hover {
    cursor: pointer; }

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #D16014;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #D16014; } }
@media (max-width: 600px) {
  .main {
    font-size: 10px; } }
@media (min-width: 300px) and (max-width: 400px) {
  .main {
    font-size: 8px;
    height: 100vh; } }
.mainAbout {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; }
  .mainAbout p {
    margin: 10px;
    color: #1D1F1E; }
  .mainAbout h6 {
    text-align: center;
    color: #D16014; }
  .mainAbout a {
    text-decoration: none;
    color: #1D1F1E;
    text-align: center; }

.more {
  margin-top: 30px;
  font-size: 20px; }
  .more:hover {
    cursor: pointer; }
  .more span {
    font-size: 50px;
    color: #D16014; }

@media (min-width: 300px) and (max-width: 400px) {
  .mainAbout {
    font-size: 20px;
    height: 70vh; } }
.mainWork {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #D16014;
  color: white; }
  .mainWork h5 {
    color: #1D1F1E;
    text-align: center;
    margin-bottom: 20px; }
  .mainWork a {
    text-decoration: none;
    color: white; }
  .mainWork p {
    background: linear-gradient(to right, #D16014 50%, #1D1F1E 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    margin: 10px;
    transition: all ease 0.5s; }
    .mainWork p:hover {
      background-position: right bottom;
      cursor: pointer; }

@media (min-width: 300px) and (max-width: 600px) {
  .mainWork {
    height: 80vh; } }
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #1D1F1E; }
  .footer img {
    margin: 10px;
    transition: 0.3s; }
    .footer img:hover {
      cursor: pointer;
      transform: scale(1.25); }

.arrow-up {
  color: white;
  font-size: 70px; }
  .arrow-up:hover {
    cursor: pointer; }

.about {
  line-height: 75px;
  font-size: 40px;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about h1 {
    color: #D16014; }
  .about h2 {
    color: #1D1F1E; }
  @media (min-width: 300px) and (max-width: 600px) {
    .about {
      height: 250vh;
      font-size: 27px;
      text-align: center; } }

.aboutEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #D16014; }
  .aboutEmail a {
    text-decoration: none;
    color: white; }
  .aboutEmail h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #1D1F1E; }
  .aboutEmail h1 {
    margin-bottom: 10px;
    color: white; }
  @media (min-width: 300px) and (max-width: 600px) {
    .aboutEmail {
      height: 100vh; } }

.aboutSkills {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; }
  @media (min-width: 300px) and (max-width: 600px) {
    .aboutSkills {
      height: 100vh; } }
  .aboutSkills h1 {
    color: #1D1F1E;
    margin-bottom: 20px; }
  .aboutSkills li {
    list-style: none;
    background: linear-gradient(to right, #D16014 50%, #1D1F1E 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    margin: 10px;
    transition: all ease 0.5s; }
    .aboutSkills li:hover {
      background-position: right bottom;
      cursor: pointer; }

.skills-info {
  display: none; }

.contact {
  letter-spacing: 4px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1D1F1E;
  font-size: 30px; }
  .contact h3 {
    color: #D16014;
    letter-spacing: 3px; }
  .contact a {
    color: white;
    text-decoration: none; }
  .contact p {
    color: white; }
  .contact img {
    margin: 20px; }
    .contact img:hover {
      transition: 0.3s;
      cursor: pointer;
      transform: scale(1.25); }

.contact-info {
  margin-top: 50px; }

@media (min-width: 300px) and (max-width: 600px) {
  .contact {
    height: 150vh;
    font-size: 10px;
    text-align: center; } }

/*# sourceMappingURL=App.css.map */
